body{
  color: white;
  background-color: #0048c2;
}
.background{
  background: #3d3d3d;
}
.circle{
  background: #195AC8;
}
.innerModal{
  background: #3d3d3d;
}
.slider::-webkit-slider-thumb {
  background: #0048c2;
}
.slider::-moz-range-thumb {
  background: #0048c2;
}
.button{
  background: #195AC8;
}
.button:hover{
  background-color: #003287;
}
