body{
  color: #3d3d3d;
}
.background{
  background: #c20000;
}
.circle{
  background: black;
}
.innerModal{
  background: white;
}
.slider::-webkit-slider-thumb {
  background: #c20000;
}
.slider::-moz-range-thumb {
  background: #c20000;
}
.button{
  background: #c20000;
}
.button:hover{
  background-color: #a70505;
}
