body{
  color: white;
  background-color: #626262;
}
.background{
  background: url("../imgs/pokemonbackground.png");
  background-size: cover;
  cursor: url(../imgs/pokeball.cur), auto;
}
.circle{
  background: transparent;
  background-image:url("../imgs/Pokemon/pokemon8.png"), radial-gradient(ellipse farthest-corner at 45px 45px, rgba(50, 50, 50, 0.3) 0%, rgba(80, 80, 80, 0.0) );
  background-repeat:no-repeat;
  background-size: 100%;
}
.innerModal{
  background-color: #626262;
}
.slider::-webkit-slider-thumb {
  background: #c20000;
}
.slider::-moz-range-thumb {
  background: #c20000;
}
.button{
  background: #c20000;
}
.button:hover{
  background-color: #a70505;
}
