  /*HTML tags*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  font-feature-settings: "liga" 0;
  color: #3d3d3d;
  padding-left: 2%;
  padding-bottom: 2%;
  margin: 0;
  width: 96vw;
  height: 94vh;
}

  /*Intro*/
#introModal {
  padding-top: 50px;
}
#introModal h1{
  display: inline;
  letter-spacing: 5px;
}
#introModal h4{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}
#introModal p{
  letter-spacing: normal;
  margin: 0;
  margin-bottom: 8px;
}
#introModal ul{
  letter-spacing: normal;
  padding-left: 4%;
  text-align: left;
}
#introModal li{
  line-height: 10px;
  margin-bottom: 5%;
}
#introModal sub{
  letter-spacing: normal;
  text-align: left;
}

  /*Game*/
.background{
  display: inline;
  background-color: #c20000;
  position: absolute;
  width: 96vw;
  height: 92vh;
}
.background{
  cursor: url(../imgs/cursor.cur), auto;
}
.circle{
  margin: 2%;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

  /*Menu*/
#menu{
  display:flex;
}
#settings:hover{
  cursor: pointer;
}
#score{
  line-height: 30px;
  flex: 20%;
}
#highscore{
  line-height: 30px;
  margin-right: 20px;
}

  /*Theme*/
.dropdownwrapper{
  color: white;
  font-size: 11px;
  margin-right: 2%;
}
#themeBtn{
  text-align: center;
  font-size: 11px;
  width: 100px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  text-align: center;
  width: 100px;
  z-index: 1;
  line-height: 40px;
}
.dropdownwrapper:hover .dropdown-content {
  display: block;
  margin-bottom: 0;
}
#defaulttheme{
  margin: 0;
  border: 1px solid #363636;
  background-color: #c20000;
}
#bluetheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #0048c2;
}
#greentheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #00c213;
}
#purpletheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #76769E;
}
#ducktheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background: url("../imgs/duckhuntbackground.png");
  background-size: cover;
}
#poketheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background: url("../imgs/pokemonbackground.png");
  background-size: cover;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

  /*Modals*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.innerModal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  text-align: center;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#settingsModal p{
  margin: 0;
  margin-bottom: 10px;
}
#gameOverModal{
  padding-top: 150px;
}

  /*Slider*/
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider:disabled{
  opacity: 0.2;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}

  /*Buttons*/
.button{
  width: 125px;
  height: 40px;
  background-color: #c20000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
}
.button:disabled{
  background-color: #1c1c1c;
}
.button:disabled:hover{
  background-color: #1c1c1c;
}
.button:hover{
  background-color: #a70505;
}
.button:focus{
  outline: 0;
}
.active{
  text-decoration: underline;
  border: 2px solid black;
  box-shadow:         inset 0 0 10px black;
  -moz-box-shadow:    inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
}

  /*Slight mobile alterations on modal*/
@media only screen and (max-width: 600px) {
  #highscore{
    display:none;
  }
}
@media only screen and (max-width: 768px) {
    /*Intro*/
  p{
    font-size: 12px;
  }
  #introModal {
    padding-top: 25px;
  }
  #introModal ul{
    font-size: 14px;
    padding-left: 8%;
  }

    /*Menu*/
  #score{
    font-size: 11px;
    letter-spacing: 2px;
  }
  #highscore{
    font-size:11px;
    letter-spacing: 2px;
  }

    /*Modal*/
  .modal {
    padding-top: 10px;
  }
  .innerModal {
    padding: 10px;
    width: 250px;
  }
  #gameOverModal .innerModal{
    width: 300px;
  }
  .innerModal .button{
    width: 100px;
    font-size: 10px;
  }
  #sizeBtn{
    width: 90px;
  }
  #timeoutBtn{
    width: 90px;
  }

    /*Sliders*/
  .slider{
    height: 10px;
  }
  .slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }
  #sizeValue{
    font-size: 10px;
  }
  #timerValue{
    font-size: 10px;
  }
}
