/*HTML tags*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  color: #3d3d3d;
  padding-left: 2%;
  padding-bottom: 2%;
  margin: 0;
  width: 96vw;
  height: 94vh;
}

/*IDs*/
#menu{
  display:flex;
}
#settings:hover{
  cursor: pointer;
}
#score{
  line-height: 30px;
  flex: 100%;
}

/*Classes*/
 /*Game*/
.background{
  display: inline;
  background-color: #c20000;
  position: absolute;
  width: 96vw;
  height: 92vh;
}
.background{
  cursor: crosshair;
}
.circle{
  margin: 2%;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: black;
}
 /*Settings*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.innerModal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  text-align: center;
}
/*Theme*/
.dropdownwrapper{
  color: white;
  font-size: 11px;
  margin-right: 2%;
}
#themeBtn{
  text-align: center;
  font-size: 11px;
  width: 100px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  text-align: center;
  width: 100px;
  z-index: 1;
  line-height: 40px;
}
.dropdownwrapper:hover .dropdown-content {
  display: block;
  margin-bottom: 0;
}
#defaulttheme{
  margin: 0;
  border: 1px solid #363636;
  background-color: #c20000;
}
#bluetheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #0048c2;
}
#greentheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #00c213;
}
#purpletheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #76769E;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  /*Slider*/
.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
  /*Buttons*/
.button{
  width: 120px;
  background-color: #c20000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  display: inline-block;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: #a70505;
}
.button:focus{
  border: 0;
  outline: 0;
}
.active{
  box-shadow:         inset 0 0 10px #450202;
  -moz-box-shadow:    inset 0 0 10px #450202;
  -webkit-box-shadow: inset 0 0 10px #450202;
}
@media only screen and (max-width: 768px) {
  body{
    font-size: ;
  }
}
/*HTML tags*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  color: #3d3d3d;
  padding-left: 2%;
  padding-bottom: 2%;
  margin: 0;
  width: 96vw;
  height: 94vh;
}

/*IDs*/
#menu{
  display:flex;
}
#settings:hover{
  cursor: pointer;
}
#score{
  line-height: 30px;
  flex: 100%;
}

/*Classes*/
 /*Game*/
.background{
  display: inline;
  background-color: #c20000;
  position: absolute;
  width: 96vw;
  height: 92vh;
}
.background{
  cursor: crosshair;
}
.circle{
  margin: 2%;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: black;
}
 /*Settings*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.innerModal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  text-align: center;
}
/*Theme*/
.dropdownwrapper{
  color: white;
  font-size: 11px;
  margin-right: 2%;
}
#themeBtn{
  text-align: center;
  font-size: 11px;
  width: 100px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  text-align: center;
  width: 100px;
  z-index: 1;
  line-height: 40px;
}
.dropdownwrapper:hover .dropdown-content {
  display: block;
  margin-bottom: 0;
}
#defaulttheme{
  margin: 0;
  border: 1px solid #363636;
  background-color: #c20000;
}
#bluetheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #0048c2;
}
#greentheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #00c213;
}
#purpletheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #76769E;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  /*Slider*/
.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
  /*Buttons*/
.button{
  width: 120px;
  background-color: #c20000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  display: inline-block;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: #a70505;
}
.button:focus{
  border: 0;
  outline: 0;
}
.active{
  box-shadow:         inset 0 0 10px #450202;
  -moz-box-shadow:    inset 0 0 10px #450202;
  -webkit-box-shadow: inset 0 0 10px #450202;
}
@media only screen and (max-width: 768px) {
  body{
    font-size: ;
  }
}
/*HTML tags*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  color: #3d3d3d;
  padding-left: 2%;
  padding-bottom: 2%;
  margin: 0;
  width: 96vw;
  height: 94vh;
}

/*IDs*/
#menu{
  display:flex;
}
#settings:hover{
  cursor: pointer;
}
#score{
  line-height: 30px;
  flex: 100%;
}

/*Classes*/
 /*Game*/
.background{
  display: inline;
  background-color: #c20000;
  position: absolute;
  width: 96vw;
  height: 92vh;
}
.background{
  cursor: crosshair;
}
.circle{
  margin: 2%;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: black;
}
 /*Settings*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.innerModal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  text-align: center;
}
/*Theme*/
.dropdownwrapper{
  color: white;
  font-size: 11px;
  margin-right: 2%;
}
#themeBtn{
  text-align: center;
  font-size: 11px;
  width: 100px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  text-align: center;
  width: 100px;
  z-index: 1;
  line-height: 40px;
}
.dropdownwrapper:hover .dropdown-content {
  display: block;
  margin-bottom: 0;
}
#defaulttheme{
  margin: 0;
  border: 1px solid #363636;
  background-color: #c20000;
}
#bluetheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #0048c2;
}
#greentheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #00c213;
}
#purpletheme{
  margin: 0;
  border: 1px solid #363636;
  border-top: 0;
  background-color: #76769E;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  /*Slider*/
.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c20000;
  cursor: pointer;
}
  /*Buttons*/
.button{
  width: 120px;
  background-color: #c20000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  display: inline-block;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: #a70505;
}
.button:focus{
  border: 0;
  outline: 0;
}
.active{
  box-shadow:         inset 0 0 10px #450202;
  -moz-box-shadow:    inset 0 0 10px #450202;
  -webkit-box-shadow: inset 0 0 10px #450202;
}

/*Slight mobile alterations on modal*/
@media only screen and (max-width: 768px) {
  .modal {
    padding-top: 30px;
  }
  .innerModal {
    padding: 10px;
    width: 250px;
  }
  .innerModal .button{
    width: 100px;
    font-size: 12px;
  }
  #sizeBtn{
    width: 120px;
  }
}
